.job-details-modal {

  > .job-details-modal-button-row {
      display: flex;
      justify-content: flex-end;
      margin: 0.5rem 0.5rem;

      > .button {
        font-size: 0.925rem;
      }
  }

  > .job-details-modal-savejob-status {
    margin: 0.75rem 0.75rem;
    text-align: center;
  }
}