.general-changepassword {
  background-color: $background-primary;

  flex: 1 1 auto;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  > .general-changepassword-container {
    flex: 0 0 auto;
    width: 24rem;
    align-self: center;
    border: 1px solid $border-primary;
    padding: 1rem;
  }
}